.customSize {
  width: 40%;
}

.signupBox {
  border-radius: 5px;
  box-shadow: 1px 1px 10px #888888;
}

.customCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
