<div class="row">
  <div class="col-sm-12 row justify-content-center mt-5">
    <div class="alert alert-success text-center customSize" role="alert" *ngIf="isAdded">
      {{response | uppercase}}
    </div>
    <div class="alert alert-danger text-center customSize" role="alert" *ngIf="isRejected">
      {{response | uppercase}}
    </div>
  </div>
</div>

<div class="row pt-5 px-5">
<!--  image-->
  <div class="col-sm-12 col-md-6 row justify-content-center">
    <img src="http://localhost:5001/{{image}}" alt="" height="550">
  </div>

<!--  details-->
  <div class="col-sm-12 col-md-6">
      <div class="row mt-4">
        <div class="col-sm-12 my-2">
          <h1 class="display-4">{{title}}</h1>
          <h5><span class="badge badge-secondary">{{category | titlecase}}</span></h5>
        </div>
        <div class="col-sm-12 my-2">
          <p class="lead">{{description}}</p>
          <h5 class="font-weight-bolder">₹ {{price}}</h5>
        </div>
        <div class="col-sm-12 my-2">
          <button class="btn btn-success btn-lg" (click)="onAddToCart(product._id)">Add to Cart</button>
        </div>
      </div>
  </div>
</div>
